.nav {
    grid-area: n;

}
.item {
    width: 190px;
    height: 30px;
    border-radius: 5px;
}
.item a {
    color: black;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}

.item:hover {

    text-decoration: none;

    background: #e3e8e9;

}